@import 'src/styles/variables'
@import 'src/styles/mixins/container'


.top-bar
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 60px
  z-index: 100

  background: $dark-2

  display: flex
  align-items: stretch
  justify-content: center

  .logo
    position: absolute
    top: 0
    left: 0
    $logo-width: 120px
    width: $logo-width
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer

    @media (max-width: $max-window-width + ($logo-width - $max-padding-left))
      display: none


  .container
    @include container
    display: flex
    align-items: stretch

  .link
    color: transparentize($white, .5)
    font-size: 16px
    font-family: $font-nunito
    font-weight: 400
    letter-spacing: .25px
    user-select: none
    cursor: pointer
    margin-right: calc(15px + 1vw)
    transition: color .2s
    white-space: nowrap

    &:hover
      color: transparentize($white, .3)

    &.cta
      color: transparentize($green-1, .25)
      padding: 6px 15px
      border-radius: 4px
      box-shadow: 0 0 0 2px transparentize($green-1, .75)
      transform: translateY(-1px)
      opacity: .75
      transition: opacity .2s

      &:hover
        opacity: 1

  .group
    display: flex
    align-items: center
    margin-right: calc(15px + 1vw)

    &.right
      margin-left: auto
      margin-right: 0

      .link:last-child
        margin-right: 0

    svg
      width: 24px
      height: 24px
      opacity: .7
