@import 'src/styles/variables'
@import 'src/styles/mixins/container'


.top-bar
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100

  background: $dark-2

  .container
    @include container
  .link
    color: transparentize($white, .5)
    font-size: 16px
    font-family: $font-nunito
    font-weight: 400
    letter-spacing: .25px

