@import 'src/styles/variables'

.entry
  background: $white
  color: $dark-5
  font-size: 35px

  display: flex
  flex-direction: column
  align-items: center

  padding: 24px
  border-radius: 8px

  h3
    text-align: center
    font-size: 1em
    line-height: 1.22em

    &:last-of-type
      margin-bottom: .5em

  .input
    width: 100%
    max-width: 340px

    font-size: 13px
    font-weight: 500
    font-family: $font-1

    &:first-of-type
      margin-top: auto

  .loading-button
    transition: color .35s, background .35s, border-radius .25s, width .45s
    margin-top: .25rem
