@import 'src/styles/variables'
@import 'src/styles/mixins/container'


section#features
  background: $dark-5
  padding: 50px 0

  .container
    @include container
    position: relative
    padding-bottom: 50px

  h1
    font-size: 50px
    line-height: 60px
    width: 400px
    height: 120px

  .feat-slider
    margin-top: 35px
    width: 325px

  .illustrations
    position: absolute
    top: 50%
    transform: translateY(-50%)
    border-radius: 50%
    right: 0
    $size: calc(65% - 120px)
    width: $size
    padding-bottom: $size
    background: transparentize($white, .975)

    @media (max-width: 800px)
      display: none
