@import 'src/styles/variables'
@import 'src/styles/mixins/container'


section#features
  background: $dark-5
  height: 100vh
  padding: 50px 0

  .container
    @include container

  h1
    font-size: 50px
    line-height: 60px
