@import url('https://fonts.googleapis.com/css?family=Lato:400,700')
@import url('https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css')

$font-1: 'Avenir Next', 'Avenir', sans-serif
$font-2: 'Lato', sans-serif
$font-mono: 'Fira Code', monospace
