// Styles shared among all pages

@import fonts
@import variables


*,
*::before,
*::after
  box-sizing: border-box

\:root
  font-size: calc(.35vw + .35vh + .15vmin + 12px)

body
  font-family: $font-1
  margin: 0
  padding: 0

h1,
h2
  margin: 0
  font-family: $font-1
  font-weight: 700

h3,
h4,
h5,
h6
  margin: 0
  font-family: $font-1
  font-weight: 600

a
  text-decoration: none
  color: inherit

canvas
  user-select: none
