// Styles shared among all pages

@import url('https://use.typekit.net/iqj5hix.css') // Lato and Nunito Sans
@import url('https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css')

@import variables


*,
*::before,
*::after
  box-sizing: border-box

\:root
  font-size: calc(.35vw + .35vh + .15vmin + 12px)

body
  font-family: $font-nunito
  margin: 0
  padding: 0

  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

h1,
h2
  margin: 0
  font-family: $font-lato
  font-weight: 900
  letter-spacing: .015em

h3,
h4,
h5,
h6
  margin: 0
  font-family: $font-lato
  font-weight: 700

h2.pre-header
  font-family: $font-nunito
  font-weight: 400
  letter-spacing: 0
  opacity: .4
  font-size: 22px

a
  text-decoration: none
  color: inherit

code
  font-family: $font-mono
  font-size: .9em
  padding: .1em .35em
  background: transparentize($white, .9)

canvas
  user-select: none


header,
section,
footer
  width: 100%
  display: flex
  justify-content: center

::selection
  background: transparentize(lighten(saturate($green-solid, 15%), 5%), .25)
