@import 'src/styles/variables'

header
  position: relative
  width: 100%
  height: 90vh
  background: $dark-2

  $external-padding: 30px
  $container-width: 1100px

  .container
    width: calc(100% - #{$external-padding * 2})
    max-width: $container-width

    position: absolute
    top: calc(20px + 50%)
    left: 50%
    transform: translate(-50%, -50%)

    display: flex

    // Dynamic left padding that goes away to fit!
    // Starting when we're 60px shy of the "max width" of the container, ramp up the left padding
    // 1px for every 1px the window is resized. After it reaches 60px, start resizing as normal. The
    // effect is that as the window is expanded, the left padding expands before the right padding
    // starts to, and remains offset by 60px.
    $max-padding-left: 60px
    $max-window-width: $container-width + $external-padding * 2 // Add the padding because this is window width, not container width
    $start: $max-window-width - $max-padding-left
    @media (min-width: $start)
      padding-left: calc((100vw - #{$start}))
    @media (min-width: $start + $max-padding-left)
      padding-left: $max-padding-left


    .left
      flex-basis: 0
      flex-grow: 0
      flex-shrink: 0

      display: inline-block

      h1
        display: inline-block
        white-space: nowrap

        font-size: 90px
        line-height: 110px

      p
        display: flex
        margin: 3px 0 0
        font-size: 24px
        color: $light-text-hint

        &::after
          content: attr(data-content)
          display: block
          flex-grow: 1
          width: 0


    .right
      flex-basis: 0
      flex-grow: 1
      flex-shrink: 0
      position: relative
      margin-left: 40px

      .login
        height: 100%
        width: 100%
        max-width: 460px
        position: absolute
        right: 0

        background: $white
        border-radius: 8px
