@import 'src/styles/variables'

header
  position: relative
  width: 100%
  min-height: 90vh
  background: $dark-2

  display: flex
  align-items: center
  justify-content: center
  padding: 110px 0 50px

  $external-padding: 30px
  $container-width: 1100px

  .container
    width: calc(100% - #{$external-padding * 2})
    max-width: $container-width

    display: inline-flex

    font-size: 24px

    @media (min-width: 800px) and (max-width: 1000px)
      font-size: calc(24px + (100vw - 1000px) / 40)

    @media (max-width: 545px)
      font-size: calc(24px + (100vw - 545px) / 20.15) // 20.15 is very much a Magic Number to make the header fit but yolo


    // Dynamic left padding that goes away to fit!
    // Starting when we're 60px shy of the "max width" of the container, ramp up the left padding
    // 1px for every 1px the window is resized. After it reaches 60px, start resizing as normal. The
    // effect is that as the window is expanded, the left padding expands before the right padding
    // starts to, and remains offset by 60px.
    $max-padding-left: 60px
    $max-window-width: $container-width + $external-padding * 2 // Add the padding because this is window width, not container width
    $start: $max-window-width - $max-padding-left
    @media (min-width: $start)
      padding-left: calc((100vw - #{$start}))
    @media (min-width: $start + $max-padding-left)
      padding-left: $max-padding-left

    // Vertical mobile layout
    @media (max-width: 799px)
      width: auto
      flex-direction: column
      align-items: center

      div.right
        align-self: stretch
        margin-left: 0
        margin-top: 20px

        .entry
          position: static
          max-width: none


    .left
      flex-basis: 0 // sass-lint:disable-line empty-line-between-blocks
      flex-grow: 0
      flex-shrink: 0

      display: inline-block

      h1
        display: inline-block
        white-space: nowrap

        font-size: 3.75em
        line-height: 1.22em

      p
        display: flex
        margin: 3px 0 0
        font-size: 1em
        color: $light-text-hint

        &::after
          content: attr(data-content)
          display: block
          flex-grow: 1
          width: 0


    .right
      flex-basis: 0
      flex-grow: 1
      flex-shrink: 0
      position: relative
      margin-left: 40px

      .entry
        width: 100%
        max-width: 460px
        position: absolute
        right: 0

        font-size: 1.45em
