@import 'src/styles/variables'

$length: 300px
$width: $length * (5 / 7)
$height: 35px

$base-color: #292a33

$silver-1: lighten($base-color, 4%)
$silver-2: lighten($base-color, 2%)
$silver-3: $base-color
$silver-4: darken($base-color, 2%)
$silver-5: darken($base-color, 4%)

.server
  .server3d
    position: absolute
    transform-origin: center center 0
    transform: translateX(-40%) translateY(-15%) rotateX(60deg) rotateY(0deg) rotateZ(-45deg)
    transform-style: preserve-3d

    .wrapper
      transform-origin: 50% 50% 0
      transform-style: preserve-3d

      transition: transform .25s
      will-change: transform

    .box
      position: relative
      width: $length
      height: $width
      background: linear-gradient(to bottom right, $silver-1, $silver-5)
      background-repeat: no-repeat
      transform-style: preserve-3d

      $slit-height: 9px
      $slit-gap: ($height / 2) - ($slit-height / 2)

      $dots-height: 12px
      $dots-width: $dots-height * 3.5
      $dots-gap: ($height / 2) - ($slit-height / 2)

      .left,
      .right
        left: 0
        top: 0
        height: $height
        clip-path: inset(0 0 -50px 0)

        &::before
          content: ''
          position: absolute
          top: $slit-gap
          width: calc(100% - #{$slit-gap * 2} - #{$dots-width} - #{$dots-gap})
          height: $slit-height
          border-radius: 1.5px
          background: transparentize($black, .8)

        &::after
          content: ''
          position: absolute
          top: $dots-gap
          width: $dots-width
          height: $dots-height
          background-image: radial-gradient($green-solid 35%, transparent 35%)
          background-size: $dots-height / 2 $dots-height / 2

          animation: dots-glow 3s infinite

      .left
        position: absolute
        z-index: -1
        background: linear-gradient(to left, $silver-2, $silver-4)
        width: $width
        transform-origin: top left
        transform: rotateZ(90deg) rotateX(-90deg) rotateY(0)

        animation: left-box-shadow 3s infinite

        &::before
          right: $slit-gap

        &::after
          left: $dots-gap


      .right
        background: linear-gradient(to bottom right, $silver-3, $silver-5)
        width: $length
        transform-origin: top
        transform: translateY($width) rotateX(-90deg)

        animation: right-box-shadow 3s infinite

        &::before
          left: $slit-gap

        &::after
          right: $dots-gap


@keyframes dots-glow
  from,
  to
    opacity: .45

  50%
    opacity: 1


@keyframes left-box-shadow
  from,
  to
    box-shadow: 10px 4px 10px -1.25px transparentize($green-solid, .65)

  50%
    box-shadow: 10px 6px 16px -2.5px transparentize($green-solid, .45)


@keyframes right-box-shadow
  from,
  to
    box-shadow: -10px 4px 10px -1.25px transparentize($green-solid, .65)

  50%
    box-shadow: -10px 6px 16px -2.5px transparentize($green-solid, .45)
